img {
  border-radius: 5px;
  object-fit: cover;
}

.status-yellow {
  background-color: lightyellow;
  color: yellow;
}
.status-green {
  background-color: lightgreen;
  color: green;
}

.status-red {
  background-color: lightcoral;
  color: red;
}
