<p-toast position="bottom-center"></p-toast>

<div
  class="upload-image-container d-flex justify-content-center align-items-center height-md"
>
  <div class="card width-xmd p-2">
    <p-progressBar *ngIf="inProgress" [value]="progress"></p-progressBar>

    <div
      *ngIf="!imgSrc; else showImage"
      class="height-xmd d-flex justify-content-center align-items-center"
    >
      <i class="pi pi-image text-6xl"></i>
    </div>
    <ng-template #showImage>
      <img class="width-full" [src]="imgSrc" alt="" />
    </ng-template>

    <div class="d-flex justify-content-center align-items-center">
      <div class="position-relative f-1 mr-1">
        <label class="fileContainer min-height-full min-width-full">
          <button
            pButton
            class="width-full cursor-pointer"
            icon="pi pi-plus"
            styleClass="p-button-lg"
            label="choose"
          >
            <input
              class="min-height-full min-width-full"
              type="file"
              accept="image/*"
              (change)="preview($event)"
            />
          </button>
        </label>
      </div>
      <div class="f-1 ml-1">
        <button
          pButton
          class="width-full p-button-success cursor-pointer"
          icon="pi pi-cloud-upload"
          styleClass="p-button-lg"
          label="upload"
          (click)="uploadImage()"
          [disabled]="!file"
        ></button>
      </div>
    </div>
  </div>
</div>
