@import "./variables";

.text-6xl {
  font-size: 60px;
}

@each $gapName, $gapValue in $height-width {
  .width-#{$gapName} {
    width: $gapValue;
  }

  .max-width-#{$gapName} {
    max-width: $gapValue;
  }

  .min-width-#{$gapName} {
    min-width: $gapValue;
  }

  .height-#{$gapName} {
    height: $gapValue;
  }
  .max-height-#{$gapName} {
    max-height: $gapValue;
  }
  .min-height-#{$gapName} {
    min-height: $gapValue;
  }
}

@each $value in $displays {
  .d-#{$value} {
    display: $value !important;
  }
}

@each $prop, $abbrev in (margin: m, padding: p) {
  @each $size, $length in $spacers {
    .#{$abbrev}-#{$size} {
      #{$prop}: $length !important;
    }
    .#{$abbrev}t-#{$size},
    .#{$abbrev}y-#{$size} {
      #{$prop}-top: $length !important;
    }
    .#{$abbrev}r-#{$size},
    .#{$abbrev}x-#{$size} {
      #{$prop}-right: $length !important;
    }
    .#{$abbrev}b-#{$size},
    .#{$abbrev}y-#{$size} {
      #{$prop}-bottom: $length !important;
    }
    .#{$abbrev}l-#{$size},
    .#{$abbrev}x-#{$size} {
      #{$prop}-left: $length !important;
    }
  }
}

.card {
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.justify-content-start {
  justify-content: flex-start !important;
}
.justify-content-end {
  justify-content: flex-end !important;
}
.justify-content-center {
  justify-content: center !important;
}
.justify-content-between {
  justify-content: space-between !important;
}
.justify-content-around {
  justify-content: space-around !important;
}

.align-items-start {
  align-items: flex-start !important;
}
.align-items-end {
  align-items: flex-end !important;
}
.align-items-center {
  align-items: center !important;
}
.align-items-baseline {
  align-items: baseline !important;
}
.align-items-stretch {
  align-items: stretch !important;
}

.cursor-pointer {
  cursor: pointer;
}

.position-relative {
  position: relative;
}

.f-1 {
  flex: 1;
}

label {
  font-weight: bold;
}

html,
body,
* {
  font-family: "Muli";
}
